<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/11/21/13/borat.jpg?w968" alt="Italian Trulli"><br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>